.layout-type-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.advanced-image-gallery-link {
  display: block;
}

.advanced-gallery-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.advanced-image-gallery-item {
  position: relative;
}

.advanced-image-gallery-item:hover .advanced-image-gallery-content {
  opacity: 1;
}

.advanced-image-gallery-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  opacity: 0;
  padding: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.advanced-image-gallery-content::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}

.advanced-image-gallery-content .advanced-gallery-icon,
.advanced-image-gallery-content .advanced-gallery-title,
.advanced-image-gallery-content .advanced-gallery-description {
  width: 100%;
}

.advanced-gallery-title h4 {
  color: #ffffff;
}

.advanced-gallery-description p {
  color: #ffffff;
}

.advanced-gallery-icon {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.advanced-gallery-icon .icon-inner {
  width: 40px;
  height: 40px;
}

.advanced-gallery-icon .icon-inner i {
  color: #ffffff;
  font-size: 30px;
}

.advanced-image-gallery-list.layout-type-masonry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.advanced-image-gallery-list.layout-type-masonry .salvattore-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.advanced-image-gallery-list.layout-type-justify {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.advanced-image-gallery-list.layout-type-justify .advanced-image-gallery-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 25%;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  height: auto;
  min-height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.advanced-image-gallery-list.layout-type-justify .advanced-image-gallery-item-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.advanced-image-gallery-list.layout-type-justify .advanced-gallery-img-wrap {
  height: 100%;
}

.advanced-image-gallery-list.layout-type-justify .advanced-gallery-img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.advanced-image-gallery-item-inner {
  position: relative;
  overflow: hidden;
}

.advanced-image-gallery-list .col-desk-1, .advanced-image-gallery-list .col-desk-2, .advanced-image-gallery-list .col-desk-3, .advanced-image-gallery-list .col-desk-4, .advanced-image-gallery-list .col-desk-5, .advanced-image-gallery-list .col-desk-6, .advanced-image-gallery-list .col-tab-1, .advanced-image-gallery-list .col-tab-2, .advanced-image-gallery-list .col-tab-3, .advanced-image-gallery-list .col-tab-4, .advanced-image-gallery-list .col-tab-5, .advanced-image-gallery-list .col-tab-6, .advanced-image-gallery-list .col-mob-1, .advanced-image-gallery-list .col-mob-2, .advanced-image-gallery-list .col-mob-3, .advanced-image-gallery-list .col-mob-4, .advanced-image-gallery-list .col-mob-5, .advanced-image-gallery-list .col-mob-6 {
  padding: 0;
}

@media screen and (min-width: 1px) and (max-width: 767px) {
  .advanced-image-gallery .advanced-image-gallery-list.col-mobile-1[data-columns]::before {
    content: '1 .salvattore-column';
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-mobile-1 .salvattore-column {
    width: 100%;
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-mobile-2[data-columns]::before {
    content: '2 .salvattore-column';
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-mobile-2 .salvattore-column {
    width: 50%;
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-mobile-3[data-columns]::before {
    content: '3 .salvattore-column';
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-mobile-3 .salvattore-column {
    width: 33.33333%;
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-mobile-4[data-columns]::before {
    content: '4 .salvattore-column';
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-mobile-4 .salvattore-column {
    width: 25%;
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-mobile-5[data-columns]::before {
    content: '5 .salvattore-column';
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-mobile-5 .salvattore-column {
    width: 20%;
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-mobile-6[data-columns]::before {
    content: '6 .salvattore-column';
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-mobile-6 .salvattore-column {
    width: 16.66666%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .advanced-image-gallery .advanced-image-gallery-list.col-tablet-1[data-columns]::before {
    content: '1 .salvattore-column';
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-tablet-1 .salvattore-column {
    width: 100%;
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-tablet-2[data-columns]::before {
    content: '2 .salvattore-column';
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-tablet-2 .salvattore-column {
    width: 50%;
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-tablet-3[data-columns]::before {
    content: '3 .salvattore-column';
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-tablet-3 .salvattore-column {
    width: 33.33333%;
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-tablet-4[data-columns]::before {
    content: '4 .salvattore-column';
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-tablet-4 .salvattore-column {
    width: 25%;
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-tablet-5[data-columns]::before {
    content: '5 .salvattore-column';
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-tablet-5 .salvattore-column {
    width: 20%;
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-tablet-6[data-columns]::before {
    content: '6 .salvattore-column';
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-tablet-6 .salvattore-column {
    width: 16.66666%;
  }
}

@media (min-width: 1025px) {
  .advanced-image-gallery .advanced-image-gallery-list.col-desktop-1[data-columns]::before {
    content: '1 .salvattore-column';
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-desktop-1 .salvattore-column {
    width: 100%;
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-desktop-2[data-columns]::before {
    content: '2 .salvattore-column';
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-desktop-2 .salvattore-column {
    width: 50%;
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-desktop-3[data-columns]::before {
    content: '3 .salvattore-column';
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-desktop-3 .salvattore-column {
    width: 33.33333%;
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-desktop-4[data-columns]::before {
    content: '4 .salvattore-column';
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-desktop-4 .salvattore-column {
    width: 25%;
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-desktop-5[data-columns]::before {
    content: '5 .salvattore-column';
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-desktop-5 .salvattore-column {
    width: 20%;
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-desktop-6[data-columns]::before {
    content: '6 .salvattore-column';
  }
  .advanced-image-gallery .advanced-image-gallery-list.col-desktop-6 .salvattore-column {
    width: 16.66666%;
  }
}

/*# sourceMappingURL=advanced-image-gallery.css.map */